@tailwind base;
@tailwind components;
@tailwind utilities;
.title {
    background: linear-gradient( 180deg,rgba(74, 109, 247, 0.829) 0%,rgba(74,108,247,0) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: .2;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    font-weight: 900;
    line-height: 1!important;
}
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition-delay: 1s all;
  }
  
